@{
    ViewBag.Title = "Contact Us!";
}

<div class="row mt-5 text-capitalize" style="font-size:large">
    <div class="text-white">
        <p>WineTime<br>
        Hristo Botev 28<br>
        1000 Sofia<br>
        Bulgaria</p>

        <p>T: +359 678 031 (office, sales)<br>
        T: +359 691 368 (shop, closed on Monday till 13:00 GMT and on Tuesday)</p>

        <p>Opening hours shop:<br>
        Monday 13:00 - 18:00<br>
        Tuesday - Friday 09:30 - 18:00<br>
        Saturday 09:30 - 17:00<br>
        Sunday closed</p>


         <p>Bankdetails:</p>

        <p>IBAN: NL41RABO0116755598<br>
        BIC: RABONL2U</p>
    </div>
</div>