@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewBag.Title = "Welcome!";
}

<div class="row mt-3 mb-3">
    <h1 class="text-center text-white">Welcome @User.Identity.Name !</h1>
</div>
@if (SignInManager.IsSignedIn(User))
{
    @if (!User.IsInRole("Administrator"))
    {
        <div class="toast-container row">
            <div class="col-md-6 mt-5">
                <h4 class="text-white">Wine Time - a place for Wine and Events!</h4>
                <p class="text-white mt-4" style="font-size:large">
                    Wine time is a unique place where you can<br>
                    find a wine for every tatse.<br>
                    Place were you can order wine or book a<br>
                    degustaion, if you are not sure what to chose.<br>
                    The people who made this place are true wine<br>
                    lovers and know what to offer, if you are wondering.<br>
                    We will be happy to hepl you with your choise,<br>
                    feel free to contact us, if you have any questions.<br>
                    Have a nice time in our special place!
                </p>
            </div>
            <div class="col-md-5 mt-3">
                <img class="w-100" src="~/Images/Red-wine-1366x768.jpg" class="header-image" />
            </div>
        </div>
    }
}





