@model AddManufactureFormModel

@{
    ViewData["Title"] = "Add Manufacture";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 ">
        <h2 class="heading-margin text-center">Add Manufacture</h2>
        <form method="post">
            <div class="form-group">
                <label asp-for="ManufactureName"></label>
                <input asp-for="ManufactureName" class="form-control">
                <span asp-validation-for="ManufactureName" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control">
                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="RegionId"></label>
                <select asp-for="RegionId" class="form-control">
                    @foreach( var region in Model.Regions)
                    {
                        <option value="@region.Id">@region.Country</option>
                    }
                </select>
            </div>
            <input class="btn btn-danger mt-2" type="submit" value="Save" />
        </form>
    </div>
</div>
