html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #2e030f !important;
}

.heading-margin {
    margin-top: 20px;
    margin-bottom: 30px;
}

.header-image {
    width: 100%;
    object-fit: cover;
    height: 300px;
}
.all-page-product-image {
    width: 100%;
    object-fit: contain;
    height: 300px;
}

form label {
    margin-bottom: .5rem !important
}

.navbar {
    background-color: #2e030f !important;
}

.btn-red {
    background-color: #7e070c;
    color: white;
}

.product-details-image-holder { 
    text-align: center;
    height: 600px;
    background-color: white;
}

.nav-pills .nav-link.active {
    color: white;
    background-color: #7e070c;
}

.nav-pills .nav-link {
    color: white;
}

.image-parent {
    max-width: 80px;
}

.image-parent2 {
    max-width: 350px;
}