html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.heading-margin {
    margin-top: 20px;
    margin-bottom: 30px;
}

.header-image {
    width: 100%;
    object-fit: cover;
    height: 300px;
}
.all-page-product-image {
    width: 100%;
    object-fit: contain;
    height: 300px;
}

form label {
    margin-bottom: .5rem !important
}

