@model AllDegustationQueryModel

@{
    ViewBag.Title = "Successfully book";
}

<div class="container">
    <div class="row">
        <div class="md-5">
             <h3 class="text-white text-center mt-5">Thank you, @User.Identity.Name!</h3>
             <h4 class="text-white text-center mt-3">Your reservation has been confirmed!</h4>
             <h4 class="text-white text-center mt-3">You will received more information, about your booking, on your email.</h4>
        </div>
    </div>
</div>
